<div class="container">
  <h1><%= @kw %></h1>
  <div class="search-bar d-flex flex-row">
    <i id="search-icon" class="fa fa-search"></i>
    <input id="search-form" type="text" class="form-control" placeholder="search" name="search">
  </div>
</div>
