    <a href="#nav" id="toggle-nav" class="toggle-nav" aria-label="Toggle Navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" fill="none" role="img" class="icon nav-icon fill-current">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 1.37868 0.50368 0.875 1.125 0.875H16.875C17.4963 0.875 18 1.37868 18 2C18 2.62132 17.4963 3.125 16.875 3.125H1.125C0.50368 3.125 0 2.62132 0 2ZM0 8C0 7.37868 0.50368 6.875 1.125 6.875H16.875C17.4963 6.875 18 7.37868 18 8C18 8.62132 17.4963 9.125 16.875 9.125H1.125C0.50368 9.125 0 8.62132 0 8ZM1.125 12.875C0.50368 12.875 0 13.3787 0 14C0 14.6213 0.50368 15.125 1.125 15.125H16.875C17.4963 15.125 18 14.6213 18 14C18 13.3787 17.4963 12.875 16.875 12.875H1.125Z"></path>
</svg>

      <span class="close">×</span>
    </a>

    <ul id="nav" class="main-nav" role="navigation">
      <span class="links-container">
        <li class="nav-dropdown-item tab-link js-explore-tab actions-item" data-top-level="explore">
          <a class="has-sub" href="#">
            Explore
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none" role="img" class="icon caret">
<path d="M1 1L5.07223 5.1517L9.23083 1" stroke="black"></path>
</svg>

</a>            <div class="nav-dropdown explore-tabs wide responsive">
  <ul>
    <li class="mega-nav-box">
      <a href="/shots">
        <div class="nav-quad-layout mega-nav-popular-shots">
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/users/194964/screenshots/11666447/hrki_mobile.png?compress=1&amp;resize=140x105"
            >
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/users/33073/screenshots/11663910/bookmark_14.png?compress=1&amp;resize=140x105"
            >
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/users/52084/screenshots/11662226/bold.jpg?compress=1&amp;resize=140x105"
            >
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/users/3754218/screenshots/11701090/191.png?compress=1&amp;resize=140x105"
            >
        </div>
        <div class="mega-nav-copy">
          <div class="title">Shots</div>
          <span class="mega-description">Get inspired with designs shared by our talented community</span>
        </div>
</a>    </li>

    <li class="mega-nav-box">
      <a href="/designers">
        <img
          class="image-shadow"
          data-src="/assets/updated_navigation/top-designers-cbc697fdfc15f9c29e5a63f480d3e65d773b73ba8968412dc6e4b21ff84f0175.png"
        >
        <div class="mega-nav-copy">
          <div class="title">Top Designers</div>
          <span class="mega-description">Check out the rankings and see which designers are trending</span>
        </div>
</a>    </li>

    <li class="mega-nav-box">
      <a href="/stories">
        <div class="nav-tri-layout mega-nav-blog-posts">
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/uploads/11266/original/69dc82708a4fc3bc685e585ef23f176f.jpg?1590525160&amp;compress=1&amp;resize=200x150"
            >
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/uploads/10936/original/6eefc275acd9da5222d61a8d313ac493.png?1589410143&amp;compress=1&amp;resize=200x150"
            >
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/users/5245066/screenshots/11485688/masksplayoff.png?compress=1&amp;resize=200x150"
            >
        </div>
        <div class="mega-nav-copy">
          <div class="title">Blog</div>
          <span class="mega-description">Amazing interviews with design industry leaders, tutorials, and more</span>
        </div>
</a>    </li>

      <li class="mega-nav-box mega-nav-weekly-playoff">
        <a href="/shots/11656848-Design-Packaging-for-Your-Favorite-Ice-Cream-Flavor">
          <img
            class="image-shadow"
            data-src="https://cdn.dribbble.com/users/39/screenshots/11656848/wwu_37.png?compress=1&amp;resize=280x210"
          >
          <div class="mega-nav-copy">
            <div class="title">Weekly Warmup</div>
            <span class="mega-description">Join the fun and flex your design skills with our weekly prompt</span>
          </div>
</a>      </li>

      <li class="mega-nav-box hide-on-transition-screens">
        <a href="/shots?list=playoffs">
          <div class="nav-tri-layout mega-nav-featured-playoffs">
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/users/2254924/screenshots/6283328/adobexd-fonts-project-dribbble-movie.png?compress=1&amp;resize=200x150"
            >
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/users/1960589/screenshots/6628207/animacja_fragment_1.png?compress=1&amp;resize=200x150"
            >
            <img
              class="image-shadow"
              data-src="https://cdn.dribbble.com/users/2254924/screenshots/6764060/final_post_dribbble_xd_undraw.png?compress=1&amp;resize=200x150"
            >
          </div>

          <div class="mega-nav-copy">
            <div class="title">Playoffs</div>
            <span class="mega-description">See Shots that other designers are riffing on & participate yourself</span>
          </div>
</a>      </li>

    <li class="mega-nav-box nav-extras">
      <ul>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/goods">Goods for Sale</a></li>
        <li><a href="/meetups">Meetups</a></li>
        <li><a href="https://shop.dribbble.com/">Dribbble Shop</a></li>
        <li><a text="About Dribbble" href="/about">About Dribbble</a></li>
        <li class="last-vertical-nav-item"><a href="/advertise">Advertise</a></li>
      </ul>
    </li>
  </ul>
  <div class="textured-background"></div>
</div>

        </li>

        <li class="nav-dropdown-item tab-link js-designers-tab actions-item" data-top-level="designers">
          <a class="has-sub" href="#">
            For Designers
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none" role="img" class="icon caret">
<path d="M1 1L5.07223 5.1517L9.23083 1" stroke="black"></path>
</svg>

</a>          <div class="nav-dropdown for-designers-tabs">
  <ul>
    <li class="mega-nav-box">
      <a href="/jobs">
        <img
          class="for-designers-img"
          data-src="https://cdn.dribbble.com/assets/updated_navigation/job-board-662c703dbd11dddab7ae4d06c0348f64cfc7dca3a8c06633bec21c2700536a56.png"
        >
        <div class="mega-nav-copy">
          <div class="title">Job Board</div>
          <span class="mega-description">Find your dream design job on Dribbble</span>
        </div>
</a>    </li>

    <li class="mega-nav-box">
      <a href="/jobs/projects">
        <img
          class="for-designers-img"
          data-src="https://cdn.dribbble.com/assets/updated_navigation/dribbble-projects-32a25d5c8142964474bcbf0c019679ea3e962c529669096c906c6354ecffb679.png"
        >
        <div class="mega-nav-copy">
          <div class="title">
            Freelance Projects
              <span class="badge badge-pro">Pro</span>
          </div>
            <span class="mega-description">Exclusive project board perfect for Freelancers and Agencies.</span>
        </div>
</a>    </li>

    <li class="mega-nav-box">
        <a href="/pro">
          <img
            class="for-designers-img"
            data-src="https://cdn.dribbble.com/assets/updated_navigation/dribbble-pro-a3cf5682d7510107532d97d5cb1a7c8b103bb1c8ba19ead129e93b274b624fe8.png"
          >
          <div class="mega-nav-copy">
              <div class="title">Go Pro</div>
                <span class="mega-description">For Designers & Design Teams, join the worlds best designers on Dribbble.</span>
          </div>
</a>    </li>
  </ul>
  <div class="textured-background"></div>
</div>

        </li>


          <li id="t-hiring" class="tab-hiring tab-link nav-dropdown-item js-hiring-tab actions-item" data-top-level="hiring">
            <a class="left-outlined" href="/hiring">
              <span>
                Hiring Designers?
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none" role="img" class="icon caret">
<path d="M1 1L5.07223 5.1517L9.23083 1" stroke="black"></path>
</svg>

              </span>
</a>            <div class="nav-dropdown hiring-designers-tabs">
  <ul>
    <li class="mega-nav-box">
      <a data-billing-interval="quarterly" href="/jobs/new">
        <img
          class="hiring-designers-img"
          data-src="https://cdn.dribbble.com/assets/updated_navigation/job-opening-e3dbadb89d53b522708545571f1046eea84bbc2af8ccb657a12d68394392d57e.png"
        >
        <div class="mega-nav-copy">
          <div class="title">List my job opening</div>
          <span class="mega-description">Publish your open role on the world's #1 job board for creatives</span>
        </div>
</a>    </li>

    <li class="mega-nav-box">
      <a class="js-hiring-link" href="/hiring?checkout=true&amp;purchase_type=advanced-search">
        <img
          class="hiring-designers-img"
          data-src="https://cdn.dribbble.com/assets/updated_navigation/designer-search-40ed5b99009379c56e1fb4ed3abd85008c0eca2abcedd6b7ed63579fd317c7cf.png"
        >
        <div class="mega-nav-copy">
          <div class="title">
            Designer Search
          </div>
          <span class="mega-description">Find and contact designers who are looking for their next opportunity</span>
        </div>
</a>    </li>

    <li class="mega-nav-box">
      <a class="js-hiring-link" href="/hiring?checkout=true&amp;purchase_type=hiring">
        <img
          class="hiring-designers-img"
          data-src="https://cdn.dribbble.com/assets/updated_navigation/job-post-search-e533a6d072c309764eed88d5c72c0d696a4888c2404eb7af4d2ef4128b377fce.png"
        >
        <div class="mega-nav-copy">
          <div class="title">Job post + search</div>
          <span class="mega-description">Search our database for top talent and post your listing on our popular job board</span>
        </div>
</a>    </li>
  </ul>
  <div class="textured-background"></div>
</div>

          </li>
      </span>

      <span class="actions-container">
          <li id="t-go-pro" class="tab-go-pro actions-item" data-top-level="go-pro">
            <a href="/pro">
              <span>Upgrade Now —</span>
              Go Pro
</a>          </li>

        <li id="t-search" class="tab-search actions-item" role="search">
          <form id="search" class="js-nav-search-form has-animation nav-search-wrapper show" action="https://dribbble.com/search">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img" class="icon js-toggle-nav-search fill-current nav-search-icon">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z"></path>
</svg>

            <input class="nav-search-text" type="search" name="q" placeholder="Search" autocomplete="off" value="" />

          </form>
        </li>
        <div class="mobile-icons">

              <li id="t-availability" class="tab-availability nav-tab-icon actions-item" data-top-level="availability">
                <div id="work-availability-widget-app" class="work-availability-widget">
                  <a class="work-availability-icon has-sub" aria-label="Work Availability" href="/account/profile#experience">
                    <span class="availability-icon-main">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 24" fill="none" role="img" class="icon fill-current">
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.0001 6.00099H18.3343C19.2543 6.00099 20.0009 6.82232 20.0009 7.83433V13.3343H16.6676H15.0009H5.00095H3.33428H0.000946045V7.83433C0.000946045 6.82232 0.747613 6.00099 1.66761 6.00099H5.00011V3.2519C5.00011 1.73481 6.12261 0.500977 7.50095 0.500977H12.4993C13.8776 0.500977 15.0001 1.73481 15.0001 3.2519V6.00099ZM5.00085 15.1675H15.0009H16.6675H20.0009V21.1675C20.0009 22.2715 19.2542 23.1675 18.3342 23.1675H1.66752C0.747521 23.1675 0.000854492 22.2715 0.000854492 21.1675V15.1675H3.33419H5.00085ZM6.33328 6.00091H13.6666V3.25182C13.6666 2.74582 13.255 2.33423 12.749 2.33423H7.25086C6.74486 2.33423 6.33328 2.74582 6.33328 3.25182V6.00091Z" fill="currentColor"></path>
</svg>

                    </span>
                    <span class="availability-icon-sub availability-off">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon fill-current"><path d="m14.828 12 4.586-4.586c.781-.781.781-2.047 0-2.828-.78-.781-2.048-.781-2.828 0l-4.586 4.586-4.586-4.586c-.78-.781-2.048-.781-2.828 0-.781.781-.781 2.047 0 2.828l4.586 4.586-4.586 4.586c-.781.781-.781 2.047 0 2.828.39.391.902.586 1.414.586s1.024-.195 1.414-.586l4.586-4.586 4.586 4.586c.39.391.902.586 1.414.586s1.024-.195 1.414-.586c.781-.781.781-2.047 0-2.828z"></path></svg>

                    </span>
</a>                </div>
              </li>


        </div>
          <li id="t-profile" class="tab-profile nav-tab-icon actions-item" data-top-level="profile">
            <a class="has-sub" href="/americanobh">
              <img alt="Felipe Americano" class="profile-avatar" src="https://cdn.dribbble.com/users/5410327/avatars/small/open-uri20200530-7680-1vim43a?1590851651" />
              <span class="profile-name">Felipe Americano</span>
</a>            <ul class="tabs">
  <li class="your-profile-generic"><a class="url" rel="contact" href="/americanobh">Felipe Americano</a></li>
  <li class="your-profile-name"><a href="/americanobh">Profile</a></li>

  <li class="rule"></li>
    <li class="edit-profile"><a href="/account/profile">Edit Profile</a></li>
  <li class="menu-work-opportunities">
      <li><a data-open-availability-modal="work-types" href="#">Edit Work Availability</a></li>
  </li>



  <li class="rule"></li>

  <li>
    <a href="/americanobh/boosts">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" role="img" class="icon ">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9.66533 3.70206C9.66533 4.27398 10.129 4.73762 10.7009 4.73762H12.9644L8.44848 9.25353C8.20545 9.49656 7.81143 9.49656 7.5684 9.25353L6.429 8.11413C5.69992 7.38505 4.51785 7.38505 3.78877 8.11413L0.803307 11.0996C0.398897 11.504 0.398898 12.1597 0.803308 12.5641C1.20772 12.9685 1.86339 12.9685 2.2678 12.5641L4.66884 10.163C4.91187 9.92002 5.30589 9.92002 5.54892 10.163L6.68832 11.3024C7.4174 12.0315 8.59947 12.0315 9.32855 11.3025L14.4289 6.20212V8.46562C14.4289 9.03754 14.8925 9.50118 15.4644 9.50118C16.0364 9.50118 16.5 9.03754 16.5 8.46562V3.28881C16.5 2.94512 16.2214 2.6665 15.8777 2.6665H10.7009C10.129 2.6665 9.66533 3.13014 9.66533 3.70206Z"></path>
</svg>

      My Boosted Shots
</a>  </li>

  <li>
    <a href="/americanobh/likes">
      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon "><path d="m18.199 2.04c-2.606-.284-4.262.961-6.199 3.008-2.045-2.047-3.593-3.292-6.199-3.008-3.544.388-6.321 4.43-5.718 7.96.966 5.659 5.944 9 11.917 12 5.973-3 10.951-6.341 11.917-12 .603-3.53-2.174-7.572-5.718-7.96z"></path></svg>

      My Likes
</a>  </li>
  <li>
      <a href="/americanobh/collections">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon "><path d="m22 5h-11l-2-3h-7c-1.104 0-2 .896-2 2v16c0 1.104.896 2 2 2h20c1.104 0 2-.896 2-2v-13c0-1.104-.896-2-2-2zm-6 10h-3v3c0 .55-.45 1-1 1s-1-.45-1-1v-3h-3c-.55 0-1-.45-1-1s.45-1 1-1h3v-3c0-.55.45-1 1-1s1 .45 1 1v3h3c.55 0 1 .45 1 1s-.45 1-1 1z"></path></svg>

        My Collections
</a>  </li>


  <li class="menu-pro">
      <a href="/pro">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon star"><path d="m23.951 9.191c-.134-.412-.518-.691-.951-.691h-7.613l-2.439-7.316c-.136-.409-.517-.684-.948-.684s-.813.275-.949.684l-2.438 7.316h-7.613c-.433 0-.817.279-.951.691s.013.863.363 1.118l6.115 4.448-2.476 7.427c-.137.411.006.863.354 1.121.349.258.823.261 1.175.01l6.42-4.586 6.419 4.585c.174.124.377.186.581.186.209 0 .417-.065.594-.196.348-.257.491-.709.354-1.121l-2.476-7.427 6.115-4.448c.351-.254.498-.706.364-1.117z"></path></svg>

          Go Pro
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon caret-right"><path d="m10.468 19.415 7.532-7.415-7.532-7.415c-.792-.779-2.081-.779-2.873 0s-.792 2.049 0 2.829l4.659 4.586-4.659 4.587c-.384.378-.595.88-.595 1.414s.211 1.036.595 1.414c.792.78 2.082.78 2.873 0z"></path></svg>

</a>    <ul class="menu-pro-features">
        <li class="pro-features-title"><a href="https://dribbble.com/pro">Pro Features:</a></li>
        <li><a href="https://dribbble.com/pro">My Playbook</a></li>
        <li><a href="https://dribbble.com/pro">My Stats</a></li>
        <li><a href="https://dribbble.com/pro">My Goods for Sale</a></li>
        <li><a href="https://dribbble.com/pro">My Projects</a></li>
        <li><a href="https://dribbble.com/pro">My Deals</a></li>
        <li><a href="/pro/my_pro">See All Pro Benefits</a>
    </ul>
  </li>


  <li class="rule"></li>

  <li><a href="/account">Account Settings</a></li>
  <li><a rel="nofollow" data-method="delete" href="https://dribbble.com/session">Sign Out</a></li>
</ul>

          </li>


          <li id="t-upld" class="tab-upld actions-item" data-top-level="upload">
            <a class="has-sub primary-btn" href="/shots/new">              <span class="form-sub">
                Upload
              </span>
</a>

          </li>
      </span>
    </ul>

    <div id="mobile-nav" class="mobile-nav">

      <form class="mobile-nav-search nav-search-wrapper" action="https://dribbble.com/search">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img" class="icon fill-current nav-search-icon">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z"></path>
</svg>

        <input class="nav-search-text" type="search" name="q" placeholder="Search" autocomplete="off" value="" />

      </form>

      <ul class="mobile-nav-main">
        <li>
          <a href="#" class="toggle-mobile-nav-dropdown" data-sub-nav="explore">
            Explore
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon caret-down fill-current"><path d="m4.585 10.468 7.415 7.532 7.415-7.532c.779-.792.779-2.081 0-2.873s-2.049-.792-2.829 0l-4.586 4.659-4.587-4.659c-.378-.384-.88-.595-1.414-.595s-1.036.211-1.414.595c-.78.792-.78 2.082 0 2.873z"></path></svg>

          </a>
          <ul class="js-mobile-nav-explore mobile-dropdown-nav">
            <li><a href="/shots">Shots</a></li>
            <li><a href="/designers">Top Designers</a></li>
            <li><a href="/stories">Blog</a></li>
              <li><a href="https://dribbble.com/shots/11656848">Weekly Warm-up</a></li>
              <li><a href="/shots?list=playoffs">Playoffs</a></li>
            <li>
              <a href="#" class="toggle-mobile-nav-dropdown js-toggle-explore-sub-nav" data-sub-nav="sub-explore">
                More
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon caret-down fill-current"><path d="m4.585 10.468 7.415 7.532 7.415-7.532c.779-.792.779-2.081 0-2.873s-2.049-.792-2.829 0l-4.586 4.659-4.587-4.659c-.378-.384-.88-.595-1.414-.595s-1.036.211-1.414.595c-.78.792-.78 2.082 0 2.873z"></path></svg>

              </a>
              <ul class="js-mobile-nav-sub-explore mobile-dropdown-nav">
                <li><a href="/teams">Teams</a></li>
                <li><a href="/goods">Goods for Sale</a></li>
                <li><a href="/meetups">Meetups</a></li>
                <li><a href="https://shop.dribbble.com/">Dribbble Shop</a></li>
                <li><a text="About Dribbble" href="/about">About Dribbble</a></li>
                <li><a href="/advertise">Advertise</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#" class="toggle-mobile-nav-dropdown"  data-sub-nav="designers">
            For Designers
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon caret-down fill-current"><path d="m4.585 10.468 7.415 7.532 7.415-7.532c.779-.792.779-2.081 0-2.873s-2.049-.792-2.829 0l-4.586 4.659-4.587-4.659c-.378-.384-.88-.595-1.414-.595s-1.036.211-1.414.595c-.78.792-.78 2.082 0 2.873z"></path></svg>

          </a>
          <ul class="js-mobile-nav-designers mobile-dropdown-nav">
            <li><a href="/jobs">Job Board</a></li>
            <li><a href="/jobs/projects">Freelance Projects</a></li>
              <li>
                <a href="/pro">
                    Go Pro
</a>              </li>
          </ul>
        </li>

          <li>
            <a href="#" class="toggle-mobile-nav-dropdown"  data-sub-nav="hiring-designers">
              Hiring Designers?
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon caret-down fill-current"><path d="m4.585 10.468 7.415 7.532 7.415-7.532c.779-.792.779-2.081 0-2.873s-2.049-.792-2.829 0l-4.586 4.659-4.587-4.659c-.378-.384-.88-.595-1.414-.595s-1.036.211-1.414.595c-.78.792-.78 2.082 0 2.873z"></path></svg>

            </a>
            <ul class="js-mobile-nav-hiring-designers mobile-dropdown-nav">
              <li><a data-billing-interval="quarterly" href="/jobs/new">List my job opening</a></li>
              <li><a href="/hiring?checkout=true&amp;purchase_type=advanced-search">Designer Search</a></li>
              <li><a href="/hiring?checkout=true&amp;purchase_type=hiring">Job post + search</a></li>
            </ul>
          </li>

          <li><a href="/shots/new">Upload a Shot</a></li>
      </ul>

        <hr>
        <div class="mobile-nav-profile">
          <a class="mobile-nav-user" href="/americanobh">
            <img width="40" height="40" alt="Felipe Americano" src="https://cdn.dribbble.com/users/5410327/avatars/normal/open-uri20200530-7680-1vim43a?1590851651" />
            <span>Felipe Americano</span>
</a>
          <div class="mobile-nav-profile-links">
            <div class="flex">
              <div class="w-60">
                <a href="/americanobh">
                  Profile
</a>

                <a data-open-availability-modal="work-types" href="#">Work Availability</a>


                  <a href="/pro">
                      Go Pro
</a>              </div>
              <div>
                <a href="/americanobh/boosts">My Boosted Shots</a>

                <a href="/americanobh/likes">My Likes</a>

                  <a href="/americanobh/collections">My Collections</a>


              </div>
            </div>

            <div class="pv20">


              <div class="flex">
                <div class="w-60">
                  <a href="/account">Account Settings</a>
                  <a rel="nofollow" data-method="delete" href="https://dribbble.com/session">Sign Out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
