    <%= render 'partials/searchbar' %>
<head>

</head>

<body>
  <div class="container">
    <div class="carousel" data-flickity>
      <% @products.each do |product| %>
      <div class="carousel-cell">

      </div>
      <% end %>
    </div>


  </div>
</body>
