
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <!-- CSS Files -->
  <!-- <link href="../assets/css/blk-design-system-pro.css?v=1.0.0" rel="stylesheet" /> -->
  <!-- CSS Just for demo purpose, don't include it in your project -->


<body class="product-page">
<br><br><br><br><br><br>

  <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12" style="padding-left: 60px;padding-right: 60px;">
              <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                <ol class="carousel-indicators mt-5">
                  <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#productCarousel" data-slide-to="1"></li>
                  <li data-target="#productCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block" src="../assets/img/toys/golfin.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block" src="../assets/img/toys/golfinn.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block" src="../assets/img/toys/golfinnn.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                  <button type="button" class="btn btn-warning btn-icon btn-round btn-sm" name="button">
                    <i class="tim-icons icon-minimal-left"></i>
                  </button>
                </a>
                <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                  <button type="button" class="btn btn-warning btn-icon btn-round btn-sm" name="button">
                    <i class="tim-icons icon-minimal-right"></i>
                  </button>
                </a>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mx-auto">
              <h2 class="title"><%= @product.name %></h2>
              <div class="stats stats-right">
                <div class="stars text-warning">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <p class="d-inline">(76 consumidores votaram)</p>
                </div>
              </div>
              <br/>
              <h2 class="main-price">R$ <%= @product.price.to_i %>.00</h2>
              <h5 class="category">Descrição:</h5>
              <p class="description"><%= @product.description %></p>
              <br>
              <div class="row pick-size">
                <div class="col-lg-4 col-md-4">
                  <label>Quantidade</label>
                  <div class="input-group">
                    <div class="input-group-btn">
                      <button id="down" class="btn btn-warning btn-round btn-simple" onclick=" down('1')"><i class="tim-icons icon-simple-delete"></i></button>
                    </div>
                    <input type="text" id="myNumber" class="form-control input-number" value="1" />
                    <div class="input-group-btn">
                      <button id="up" class="btn btn-warning btn-round btn-simple" onclick="up('1')"><i class="tim-icons icon-simple-add"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row justify-content-start">
                <%= link_to 'Adicionar ao Carrinho', order_items_path(product_id: @product.id), { method: :post, :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modalCart', class: "btn btn-warning btn-lg", id: "modal-btn" }  %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section related-products">
      <div class="container">
        <div class="col-md-8">
          <h2 class="title">Combina muito com o que você gostou: </h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <a href="#pablo">
                  <img class="img rounded" src="../assets/img/toys/lub.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-warning">Essencial</h6>
                <h4 class="card-title">
                  <a href="javascript:;" class="card-link text-white">Lubrificante</a>
                </h4>
                <div class="card-description">
  Este lubrificante liso e adorável à base de água é perfeitamente seguro para uso com a maioria dos brinquedos ou preservativos. Sem glicerina, glicol e parabenos, é claro.                </div>
                <div class="card-footer">
                  <div class="price-container">
                    <span class="price">R$ 20.00</span>
                  </div>
                  <button class="btn btn-simple btn-warning btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                    <i class="tim-icons icon-heart-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <a href="#pablo">
                 <img class="img rounded" src="../assets/img/toys/lubb.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-warning">Popular</h6>
                <h4 class="card-title">
                  <a href="javascript:;" class="card-link text-white">Sabonete Higienizador Toy</a>
                </h4>
                <div class="card-description">
O Gel Higienizador Toy Cleaner é perfeito para higienizar os seus sex toys. Feito a base de agua, este sabonete higienizador contém microcapsulas perfumadas com agentes especificos para a limpeza dos seus toys. Ele também é enriquecido com vitamina E ! Com este BB os seus toys vão durar por muito mais tempo!                </div>
                <div class="card-footer">
                  <div class="price-container">
                    <span class="price">R$ 36.90</span>
                  </div>
                  <button class="btn btn-simple btn-warning btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                    <i class="tim-icons icon-heart-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <a href="#pablo">
                  <img class="img rounded" src="../assets/img/toys/lubbbb.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-warning">Queridinho</h6>
                <h4 class="card-title">
                  <a href="javascript:;" class="card-link text-white">
Lubrificante Orale Hot Menta
</a>
                </h4>
                <div class="card-description">
Buscando um lubrificante 3 em 1? O Orale Hot é um gel aromatizante com delicioso aroma de hortelã . Para ser utilizado em praticas orais, ele ainda esquenta a região utilizada.                 </div>
                <div class="card-footer">
                  <div class="price-container">
                    <span class="price">R$ 19.80</span>
                  </div>
                  <button class="btn btn-simple btn-warning btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                    <i class="tim-icons icon-heart-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <a href="#pablo">
                   <img class="img rounded" src="../assets/img/toys/lubbb.jpg" />

                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-warning">Trending</h6>
                <h4 class="card-title">
                  <a href="javascript:;" class="card-link text-white">O.M.G-Spot Stim Serum</a>
                </h4>
                <div class="card-description">
Este glorioso material de estimulação do ponto G usa óleo orgânico de hortelã-pimenta japonês e L-arginina para aumentar o tamanho e a sensibilidade do ponto G, facilitando a localização. Diga tudo agora: o ponto G é real e espetacular.                </div>
                <div class="card-footer">
                  <div class="price-container">
                    <span class="price">R$ 39.90</span>
                  </div>
                  <button class="btn btn-simple btn-warning btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                    <i class="tim-icons icon-heart-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="section">
        <div class="testimonials-1 section-image">
          <div class="container">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title">Not convinced yet?</h2>
                <h4 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h4>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-4">
                <div class="card card-testimonial">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img rounded" src="../assets/img/toys/lub.png" />

                    </a>
                  </div>
                  <div class="card-body">
                    <p class="card-description">
                      The networking at Web Summit is like no other European tech conference.
                    </p>
                  </div>
                  <div class="icon icon-primary">
                    <i class="fa fa-quote-right"></i>
                  </div>
                  <div class="card-footer">
                    <h4 class="card-title">Michael Elijah</h4>
                    <p class="category">@michaelelijah</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-testimonial">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img img-raised" src="../assets/img/olivia.jpg" />
                    </a>
                  </div>
                  <div class="card-body">
                    <p class="card-description">
                      The connections you make at Web Summit are unparalleled, we met users all over the world.
                    </p>
                  </div>
                  <div class="icon icon-primary">
                    <i class="fa fa-quote-right"></i>
                  </div>
                  <div class="card-footer">
                    <h4 class="card-title">Olivia Harper</h4>
                    <p class="category">@oliviaharper</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-testimonial">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img img-raised" src="../assets/img/james.jpg" />
                    </a>
                  </div>
                  <div class="card-body">
                    <p class="card-description">
                      Web Summit will increase your appetite, your inspiration, and your network.
                    </p>
                  </div>
                  <div class="icon icon-primary">
                    <i class="fa fa-quote-right"></i>
                  </div>
                  <div class="card-footer">
                    <h4 class="card-title">James Logan</h4>
                    <p class="category">@jameslogan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>
